<section>
  <h2 class="title-form">Crie sua própria sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-id">Código da sala</label>
    <input id="room-id" class="room-code__input" name="password" type="number" placeholder="Insira uma senha">
    <button class="button">
      <img src="/images/users-white.svg" alt="Criar sala">
      Criar Sala
    </button>
  </form>
</section>
