<section>
  <h2 class="title-form">Entre como participante</h2>
  <form action="">
    <label class="sr-only" for="room-id">C칩digo da sala</label>
    <input id="room-id" class="room-code__input" type="number" placeholder="C칩digo da sala">
    <button class="button">
      <img src="/images/enter-room.svg" alt="Entrar na sala">
      Entrar na sala
    </button>
  </form>
</section>

<div class="separator">
  <span></span>
  <span>ou</span>
  <span></span>
</div>

<section>
  <h3 class="title-form">Crie sua pr칩pria sala, de forma f치cil</h3>
  <a class="button outlined" href="/create-pass">
    <img src="/images/users.svg" alt="Criar sala">
    Criar Sala
  </a>
</section>