#room {
  max-width: min(112rem, 80%);
}

#room header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-buttons {
  display: flex;
}

.header-buttons .button:nth-child(1) {
  margin-right: 0.8rem;
  padding: 1.3rem 1.6rem;
}

.header-buttons .button:nth-child(1) img {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.header-buttons .button:nth-child(2) {
  padding: 1.3rem 3.2rem;
}

.header-buttons .button:nth-child(2) img {
  width: 2rem;
  height: 2rem;
}

#question-form {
  margin-bottom: 1.6rem;
}

#question-form h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--black);
  line-height: 4.2rem;
  margin-bottom: 2.4rem;
}

#question-form form {
  border: 0.2rem solid var(--grey-blue);
  border-radius: 0 0.8rem 0.8rem 0.8rem;
  padding: 1.6rem;
}

#question-form form textarea {
  width: 100%;
  background-color: transparent;
  resize: none;
}

#question-form form textarea::placeholder {
  color: var(--grey-blue);
}

#question-form form footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#question-form form footer > div {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--icons-details);
}

#question-form form footer > div img {
  margin-right: 0.6rem;
}

#question-form form footer .button {
  padding: 0 2.4rem;
}

.question-wrapper {
  background-color: var(--light-blue);
  border-radius: 0 0.8rem 0.8rem 0.8rem;
  padding: 2.4rem 3.2rem 2.5rem 2.4rem;
  margin-bottom: 0.8rem;
}

.question-wrapper .question-content {
  display: flex;
  align-items: flex-start;
}

.question-wrapper .question-content .user {
  background-color: var(--blue);
  clip-path: circle();
  padding: 1.4rem;
}

.question-wrapper .question-content > p {
  min-height: 5.2rem;
  display: flex;
  align-items: center;
  word-break: break-word;
  margin-left: 1.6rem;
}

.question-wrapper .actions {
  display: flex;
  justify-content: flex-end;
}

.question-wrapper .actions > a {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: var(--grey-dark)
  /* Como havia feito de primeira */
  /* margin-right: 2.4rem; */
}

/* Como havia feito de primeira */
/* .question-wrapper .actions > a:last-child {
  margin-right: 0;
} */

/* Seletor + pega o irmão do elemento que está a esquerda. Nesse caso está pegando a tag a que é irmã da outra tag a dentro da div actions */
.question-wrapper .actions > a + a {
  margin-left: 2.4rem;
}

.question-wrapper .actions > a > img {
  margin-right: 0.8rem;
}

.question-wrapper.readed {
  background-color: var(--grey-medium);
}

.question-wrapper.readed .question-content .user {
  background-color: var(--grey-blue);
}